/tmp
/build
/bin
/dist

/.env
/database/*.db

# Go binary files
schichtplaner
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Frontend import files
/frontend/import/Footer.html